<mat-divider></mat-divider>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Id Column-->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordinamento per id">Identificativo</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <!-- Name Column-->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordinamento per nome">Nome</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordinamento per descrizione">
      Descrizione </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Prezzo Column -->
  <ng-container matColumnDef="prezzo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordinamento per prezzo">Prezzo</th>
    <td mat-cell *matCellDef="let element"> {{element.prezzo}} </td>
  </ng-container>

  <!--Actions Column-->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let button">
      <button mat-mini-fab color="accent" (click)="$event.stopPropagation()" (click)="deleteADialog(button.id)">
        <mat-icon>delete</mat-icon>
      </button>
      <!--stop propagation serve a distinguere il click della row dal button-->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="clickedRow(row)" *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="pageChanged($event)" aria-label="Seleziona pagina" showFirstLastButtons>
</mat-paginator>