<h1>Registrazione</h1>

<form #registrationform="ngForm" style="display:flex; flex-direction: column; width: 100%;">
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="name" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Indirizzo Mail</mat-label>
        <input matInput type="text" name="mail" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" required />
    </mat-form-field>
</form>
<div style="display: flex; flex-direction: row">
    <button mat-raised-button color="primary" style="margin-right: 10px;">Registrati</button>
    <a routerLink="/" style="margin-left: 10px;"><button mat-raised-button color="warn">Annulla</button></a>
</div>