.modify {
    height: 50px;
}

table.mat-table {
    display: table;
    width: 60%;
    background-color: lightskyblue;
}

.mat-column-aDTO {
    width: 28%;
}

.cardo {
    background-color: lightskyblue;
}